.vs/
Simple3DSurfaceGridSeriesTutorial_WF/bin/
Simple3DSurfaceGridSeriesTutorial_WF/obj/
Simple3DSurfaceGridSeriesTutorial_WPF_NB/bin/
Simple3DSurfaceGridSeriesTutorial_WPF_NB/obj/
Simple3DSurfaceGridSeriesTutorial_WPF_SB/bin/
Simple3DSurfaceGridSeriesTutorial_WPF_SB/obj/
